{% extends "base.html" %}

{% block the_body %}
<h1>{{ the_title }}!</h1>

Pattern: <input type="text" name="pattern" hx-post="/processpattern" hx-target="#results"><br>

<textarea id="results" readonly rows="5" cols="100"></textarea>

<hr>
<h2>Here is the log history</h2>

<table border="1" id="history">
    <tr>
        <th hx-get="/bytimestamp" hx-target="#history">Timestamp</th>
        <th hx-get="/bypattern" hx-target="#history">Pattern</th>
        <th hx-get="/bymatches" hx-target="#history"># of Matches</th>
    </tr>

    {% for row in data_table %}
    <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
