{% extends "base.html" %}

{% block the_body %}
<h1>{{ the_title }}!</h1>

<form action="/processpattern" method="post">
    Pattern: <input type="text" name="pattern"><br>
    <input type="submit" value="Do it!">

    <hr>
    <h2>Here is the log history</h2>

    <table border="1" id="history">
        <tr>
            <th>Timestamp</th>
            <th>Pattern</th>
            <th># of Matches</th>
        </tr>

        {% for row in data_table %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
        </tr>
        {% endfor %}
    </table>

</form>
{% endblock %}
